<!DOCTYPE html>
<html>
    <head>
        <title>My Social Network</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container">
            <h1>Welcome to my social network</h1>
            <% @database.each_with_index do |data, index| %>
                <div class="row justify-content-md-center">
                    <div class="col-md-6 align-self-center">
                        <div class="card mb-3">
                            <% if data[:photo] != nil %>
                                <img src="<%= data[:photo] %>" class="card-img-top" alt="Image not found">
                            <% end %>
                            
                            <div class="card-body">
                                <a href="/comment/<%= index %>">
                                    <h5 class="card-title"><%= data[:title] %></h5>
                                </a>
                                <p class="card-text"><%= data[:content] %></p>
                                <% if data[:rating] != nil %>
                                    <div class="col">
                                        Rating :
                                    </div>
                                    <div class="col">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: <%= data[:rating].to_i * 20 %>%" aria-valuenow="<%= data[:rating] %>" aria-valuemin="0" aria-valuemax="5"><%= data[:rating] %></div>
                                        </div>
                                    </div>
                                <% end %>
                                <p>
                                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseComments<%=index%>" aria-expanded="false" aria-controls="collapseComments<%=index%>">
                                        Show comments
                                    </button>
                                </p>
                                <div class="collapse" id="collapseComments<%=index%>">
                                    <ul class="list-group">
                                        <% if @comments[index][0] != nil%>
                                            <li class="list-group-item"><%= @comments[index][0] %></li>
                                        <% end %>
                                        <li class="list-group-item">
                                            <a class="btn btn-primary" href="/comment/<%= index %>">Show all comments</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
        <footer class="footer mt-auto py-3">
            <div class="container text-center">
                <span class="text-muted">Made with ❤ by Bryan Boukari.</span>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>